.center{
    align-items: center;
    margin-left: 50px;
    text-align: center;
}

.bioField{
    margin-left: 1px;
}

textarea{
    margin-left: 500px;
    min-width: 500px;
    min-height: 300px;
}