.profileImg{
    width: 500px;
    height: 500px;
}

.description{
    font-size: large;
    padding-top: 50px;
    padding-left: 30px;
    display:block;

}

.collectionHeader{
    font-size: xx-large;
    text-align: center;
    padding-top: 50px;
    font-weight: 1000;
}

.profileHeader{
    font-size: xx-large;
    text-align: center;
    padding-top: 50px;
    font-weight: 1000;
}

.userName{
    padding-top: 50px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.collectionImg{
    margin-top: 20px;
    width: 400px;
    height: 400px;
}

.profileImgHolder{
    margin-left: 400px;
}