.profileHeader{
    font-size: xx-large;
    text-align: center;
    padding-top: 2%;
    font-weight: 800;
    
}

.profileImgHolder{
    margin-left: 20%;
}

.profileImg{
    width: 500px;
    height: 500px;
}

.userName{
    padding-top: 3%;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    padding-left: 2%;
}

.description{
    font-size: large;
    min-height: 100px;
    padding-left: 2%;
    display:block;
    border-style: solid;
    border-radius: 15px 50px;
    width: 90%;
    margin-left: 5%;
}

.collectionHeader{
    font-size: xx-large;
    text-align: center;
    padding-top: 2%;
    font-weight: 700;
    
}

.imageContent{
    width: 400px;
    height: 400px;
}

.collectionContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    justify-content: center;
}

.imgCard{
    padding: 10px;
}

.buttonContainer{
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}